{% extends "viajeros/base.html" %}

{% block subtitulo %}Del Norte al Sur{% endblock subtitulo %}

{% block contenido %}
{% for lugar in lugares %}
  <h4>{{lugar.provincia}}</h4>
  <span> 
  <b>Ciudad:</b> {{lugar.ciudad}}
  <br>
  {% if lugar.imagen %}
      <img src="{{lugar.imagen.url }}" width="400" alt="" />
  {% endif %}  
  <br>
  <a href="{% url 'ver_lugar' lugar.id %}">Ver mas</a>
  <br>>
  <br>
  </span>
  {% empty %}
  <h1>Nuestra pagina aun no contiene informacion</h1>
  <a href="{% url 'inicio' %}">Volver a inicio</a>    
{% endfor %}

{% endblock contenido %}